.result{
  background-color:#A5C9CA;
padding: 0;
margin: 0;
display: inline-block;
width:1600px;
text-align:left;
padding-left: 50px;
padding-top:50px;
padding-bottom:50px;
  height:30%;
}
body{
  padding: 0;
  margin: 0;
}
h1{
  font-size: 80px;
  padding: 0;
  margin:0;
}
h3{
  font-size: :40px;
  margin: 0;
}

